.rodape {
    text-align: center;
    background-color: var(--cinza-claro-rodape);
    padding: 4em;
}

.rodape__titulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--cinza-escuro);
}

.rodape__texto {
    font-size: 20px;
    color: var(--cinza-claro);
    margin: 1.5em;
}

.rodape__email {
    border: 1px solid var(--borda);
    border-radius: 8px;
    padding: 1em 0.5em;
    width: 25%;
    margin-right: 0.5em;
}

.rodape__email::placeholder {
    color: var(--cinza-claro);
}

.rodape__botao {
    background-color: var(--vermelho);
    color: var(--branco);
    font-weight: 500;
    padding: 1em;
    border-radius: 8px;
    border: none;
}

.rodape__direitos {
    font-size: 16px;
    color: var(--cinza-rodape);
    margin-top: 2em;
}